[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-socketio = "*"
flask-login = "*"
flask-shell-ipython = "*"
pymysql = "*"
flask-bcrypt = "*"
attrs = "*"
flask-wtf = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.6"
