[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-SocketIO = "*"
Flask-Login = "*"
flask-shell-ipython = "*"
PyMySQL = "*"
Flask-Bcrypt = "*"
attrs = "*"
Flask-WTF = "*"
Flask-Bootstrap = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.6"
