
.jumbotron {
    text-align: center;
}

.controls > .create-btn {
    margins: auto;
}

.game-list {
    height: 100%;
}

.game-listing {
    margin: 1rem 0;
}

.game-listing .card-title {
    text-align: center;
}

.game-listing .map-name {
    font-style: italic;
}

canvas {
    width: 100%;
    height: 100%;
}
