<!DOCTYPE html>

{% import "bootstrap/wtf.html" as wtf %}

<html>
    <head>
        <title>Strategy Game</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/context-menu.css">
        <link rel="stylesheet" href="/static/css/style.css">

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.js"></script>

        <script src="/static/js/socket.io.js"></script>

        <script src="/static/js/context-menu.min.js"></script>

        <script src="/static/js/global.js"></script>
        <script src="/static/js/index.js"></script>
        <script src="/static/js/action.js"></script>
        <script src="/static/js/hud.js"></script>
        <script src="/static/js/canvas.js"></script>
    </head>
    <body>
        <div class="modal fade" id="register-modal" role="dialog" aria-labelledby="create-game-title" aria-hidden=true>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="create-game-title">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ wtf.quick_form(register_form, action="/register", button_map={ "submit": "primary btn-block" }) }}
                        <button type="button" class="register-btn btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="create-game-modal" role="dialog" aria-labelledby="create-game-title" aria-hidden=true>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% if current_user.is_authenticated %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="create-game-title">Create Game</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ wtf.quick_form(game_form, action="/game", id="game-form") }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="create-btn btn btn-primary" form="game-form">Create</button>
                        </div>
                    {% else %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="create-game-title-login">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{  wtf.quick_form(login_form, action="/login", button_map={ "submit": "primary btn-block" }) }}
                            <button type="button" class="register-btn btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Strategy</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                </ul>
            </div>
            {% if current_user.is_authenticated %}
                <form class="form-inline my-2 my-lg-0" action="/logout">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
                </form>
            {% endif %}
        </nav>

        <div class="jumbotron">
            <h1 class="display-4">Game Center</h1>

            {% if current_user.is_authenticated %}
                <p class="lead">Hello there {{ current_user.name }}, hop in a game!</p>
            {% else %}
                <p class="lead">Hop in a game and get wrecked!</p>
            {% endif %}
        </div>

        <div class="main-panel container-fluid">
            <div class="row">
                <div class="game-panel col-sm-2">
                    <div class="controls">
                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#create-game-modal">Create Game</button>
                        <button class="refresh-btn btn btn-secondary btn-block">Refresh</button>
                    </div>
                    <div class="game-list">
                        {% for game in games %}
                            <div class="game-listing card">
                                <div class="card-body">
                                    <h5 class="name card-title">{{ game.name }}</h5>
                                    <p class="map-name card-text">{{ game.map_name }}</p>
                                </div>
                                <ul class="player-list list-group list-group-flush">
                                    {% for player in game.players() %}
                                        <li class="list-group-item">{{ player.name }}</li>
                                    {% endfor %}
                                </ul>
                                <div class="game-panel card-body">
                                    <a href="{{ url_for("join", game_id=game.id) }}" class="card-link">Join</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="canvas-panel col-sm-8">
                    {% if current_user.is_authenticated and current_user.get_game() %}
                        <h1 class="turn-header">
                            {% if current_user.is_active() %}
                                Make your move!
                            {% else %}
                                Please wait for other player...
                            {% endif %}
                        </h1>
                    {% endif %}
                    <canvas id="main-canvas" class="main-canvas"></canvas>
                    <div class="game-panel-footer">
                        {% if current_user.is_authenticated and current_user.get_game() %}
                            <button type="button" class="end-turn-btn btn btn-primary btn-large">End Turn</button>
                        {% endif %}
                    </div>
                </div>
                <div class="account-panel col-sm-2">
                    {% if not current_user.is_authenticated %}
                        {% if bad_login %}
                            <div class="alert alert-danger" role="alert">
                                Invalid Credentials
                            </div>
                        {% endif %}

                        <h5>Account</h5>
                        {{ wtf.quick_form(login_form, action="/login", button_map={ "submit": "primary btn-block" }) }}
                        <button type="button" class="register-btn btn btn-secondary btn-block" data-toggle="modal" data-target="#register-modal">Register</button>
                    {% else %}
                        {% if current_user.get_game() %}
                            <h2 class="game-header">PLAY BITCH</h2>
                            <div class="game-info">
                                <h3>Current Game</h3>
                                <p>{{ current_user.get_game().name }}</p>
                            </div>
                            <div class="game-info">
                                <h3>Current Map</h3>
                                <p>{{ current_user.get_game().map_name }}</p>
                            </div>
                            <div class="game-info">
                                <h3>On Team</h3>
                                <p>
                                    {% if current_user.get_team() == 0 %} Red {% else %} Blue {% endif %}
                                </p>
                            </div>
                            <div class="game-info">
                                <button type="button" class="leave-btn btn btn-danger btn-block">Quit YOU PUSSY</button>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
