<!DOCTYPE html>

<html>
    <head>
        <title>Strategy Game</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/bootstrap.js"></script>

        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="jumbotron">
            <h1>Strategy!</h1>
            <p>Create or join a game boyo</p>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="controls">
                        <button class="create-btn btn btn-primary btn-block">Create Game</button>
                    </div>
                    <div class="game-list">
                        <div class="game-listing card">
                            <div class="card-body">
                                <h5 class="name card-title">Game 1</h5>
                                <p class="map-name card-text">battle1</p>
                            </div>
                            <ul class="player-list list-group list-group-flush">
                                <li class="list-group-item">Andrew</li>
                                <li class="list-group-item">Dylan</li>
                                <li class="list-group-item">AJA</li>
                            </ul>
                            <div class="game-panel card-body">
                                <a href="#" class="card-link">Join</a>
                            </div>
                        </div>
                        <div class="game-listing card">
                            <div class="card-body">
                                <h5 class="name card-title">Game 2</h5>
                                <p class="map-name card-text">battle2</p>
                            </div>
                            <ul class="player-list list-group list-group-flush">
                                <li class="list-group-item">Andrew</li>
                                <li class="list-group-item">Dylan</li>
                                <li class="list-group-item">AJA</li>
                            </ul>
                            <div class="game-panel card-body">
                                <a href="#" class="card-link">Join</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">

                </div>
            </div>
        </div>
    </body>
</html>
